
@import "tailwindcss";

@theme {
  /* Colores */
  --color-cream: #FDFBF5;
  --color-brand-red: #B95E4A;
  --color-brand-green: #9ABE82;
  --color-brand-dark: #4F4A45;

  /* Tipografías */
  --font-sans: "Anton", sans-serif;
  --font-serif: "Cormorant Garamond", serif;
}

body {
  background-color: #FDFBF5;
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}

@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}
